<h3> 显示用户 </h3>

<p><%= link_to '回到首页', action: 'index' %></p>
<p><%= link_to '修改用户', action: 'edit' %></p>


<%= @user.name %><br>
<%= @user.email %>

<h3> 用户微博</h3>
<% @user.weibos.each do |w| %>
	<p><%= w.text %></p>
<% end %>


<h3>发布微博</h3>
<%= form_for([@user, @user.weibos.build]) do |u| %>
	<p>
		<%= u.label :weibo %><br>
		<%= u.text_field :text %>
	</p>
	<p>
		<%= u.submit %>
	</p>
<% end %>
